# ───────────────
# Dependencies
# ───────────────
node_modules/

# ───────────────
# Expo
# ───────────────
.expo/
dist/
web-build/
expo-env.d.ts

# ───────────────
# Native Android/iOS
# ───────────────
.gradle/
local.properties
*.iml
.idea/
.android/
.ios/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ───────────────
# Metro Bundler
# ───────────────
.metro-health-check*

# ───────────────
# Debug / Logs
# ───────────────
npm-debug.*
yarn-debug.*
yarn-error.*

# ───────────────
# macOS
# ───────────────
.DS_Store
*.pem

# ───────────────
# Local env files
# ───────────────
.env*
!.env.example   # keep a sample env file for reference

# ───────────────
# TypeScript
# ───────────────
*.tsbuildinfo

# ───────────────
# Custom ignores
# ───────────────
app-example
